* {
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  text-align: center;
  padding-bottom: 10px;
  color: lightseagreen;
  opacity: .5;
}

.cat img {
display: block;
margin: auto;
padding-top:10px;
padding-bottom: 40px;
}

ul {
  list-style: none;
  padding-left: none;
}

.cat li {
  font-size: 22px;
  text-align: center;
  color: grey;
  display: block;
}

.cat {
  list-style:none;
  padding-left:0;
}
